@media screen and (max-width: 600px) {
    .book {
        width: 100vw; 
        height: 340px; 
        margin-left: 0%; 
        margin-right: auto;
        perspective: 1200px; 
    }
    .front_page label{
        width: 100%;
        height:3%;
        cursor: grab;
        z-index: 50;
        position: absolute;
       bottom: 0;
    }
    .back_page label{
        width: 100%;
        height: 3%;
        cursor: grab;
        z-index: 50;
        position: absolute;
        top: 0;
    }
    i {
        display: none;
    }

    .cover, .back_cover, .page {
        width: 100vw;
        height: 100%;
        border-radius: 15px; 
    }

    .cover {
        transform-origin: top center; 
        transition: transform 1s;
    }

    .page {
        transform-origin: top; 
        transform: rotateX(0deg); 
        margin-top: 0;
    }

    .back_page {
        transform: rotateX(180deg); /* Backside for vertical flip */
        backface-visibility: hidden;
    }
    #checkbox_cover:checked ~ .book {
        transform: translateX(0px);
        transform: translateY(70%);
    }

    /* Adjust flipping styles */
    #checkbox_cover:checked ~ .book .cover {
        transform: rotateX(180deg); /* Flip vertically */
    }

    #checkbox_page1:checked ~ .book #page1 {
        transform: rotateX(180deg);
        z-index: 4;
    }

    #checkbox_page2:checked ~ .book #page2 {
        transform: rotateX(180deg);
        z-index: 5;
    }

    #checkbox_page3:checked ~ .book #page3 {
        transform: rotateX(180deg);
        z-index: 6;
    }

    #checkbox_page4:checked ~ .book #page4 {
        transform: rotateX(180deg);
        z-index: 7;
    }
    .cover h1{
        font-size: 60px; 
    }
    .frame{
        width: 100%;
        height: 50vh;
        margin-top: -2%;
    }
    .welcome_page h1{
        font-size: 40px; 
        top: -10%;
        left: 25%;  
    }
    .photo-img{
        top: 10%;
        left: 25%;
        scale: 1.2;       
    }
    .sticker{
        width:150px; 
        height: 150px; 
        position: absolute; 
        top:45%; 
        left: 60%;
    }
    .photo-button{
        top:85%;
 
        scale: 0.8; 
        z-index: 60;    
    }
    
    .about_me h1{
        font-size: 20px;
        margin-top: -1%;
        margin-left: -10%;
    }
    .about_header h2{
        font-size: 20px;
        margin-top: -11.8%;
        margin-left: 20%;
    }
    .profile{
        margin-top: -3%;
        gap: 0px;
    }
    .profile_text{
        transform: scaleY(.8);
        width: 55vw;
        padding-bottom: 5px;
        font-size: 16px;
        font-size: 14px;
    }
    .profile_img{
        transform: scale(.7);
        margin-top: -3%;
        margin-left: 0%;
    }
    .tape{
       display: none;
    }
    .tape2{
      display: none;
    }
    .wavy_line{
        display: none;     
    }
    .about_text{
        transform: scaleY(.8);
        width: 85vw;
        padding: 0 2px;
        font-size: 16px;
        margin-top: 35%;
        position: relative;
        max-height: 30vh;
        /* text-align: left; */
    
    }
    .skills_heading h1{
        font-size: 20px;
        margin-top: 1%;
    }
    .skills{
        /* transform: scaleY(.3); */
        transform: scale(.7);
        margin-top: -40%;
        margin-left: -10%;
    }
    .skills_bar{
        width: 400px;
    }
    .project_name{
        margin-top: -20%;
    }
    .project_name h2{
       margin: auto;
       text-align: center;
       font-size: 16px;
    }
    .project_name p{
        max-width: 100%;
        margin: auto;
        margin-left: 5%;
        font-size: 14px;
    }
    .project_img{
        width:80%; 
        height: 65%; 
        position: relative;
         margin-top: -2%; 
         left: 10%; 
         z-index: 0;
    }
    .project_name a{
        margin-left: 20%;
        z-index: 3;
    }
    .project_name span{
        margin-left: 15%;
        display: inline-block;
        width:30%;
        z-index: 3;
    }
    .ptape{
        width:60px;
        height: 20px;
        position: relative;
        transform: rotateZ(45deg);
        top: -70%;
        left: 80%;
    }
    .ptape2{
        width:60px;
        height: 20px;
        position: relative;
        transform: rotateZ(135deg);
        top: -67%;
        left: -25%;
    }
    .bproject_img{
        width:80%; 
        height: 65%; 
        position: relative;
         margin-top: -2%; 
         left: 10%; 
         z-index: 0;
    }
    .bptape2{
        width:60px;
        height: 20px;
        position: relative;
        transform: rotateZ(135deg);
        top: -67%;
        left: -25%;
    }
    .contact-form{
        transform: scaleY(.6);
        margin-top: -25%;
    }
    .contact-form label {
        margin-bottom: 5%;  
        display: block;  
        position: relative;
    }
    .contact-form button {
        margin-left: 35%;
        margin-top: 5%;
    }
    
   
}