:root {
    --primary-color: #fbc0ca;
    --text-color: #75858f;
    --accent-color: #ffc107;
    --background-color: #f6f6f6;
    --text-color: #212529;
}

*{
    box-sizing: border-box;
}

body{
    /* font-family:"Poppin", sans-serif; */
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Satisfy", cursive;
    background-color: #313436;
    overflow: hidden;
    overflow-y: hidden;
    background-image: url(/images/wood-textured-red-background-new-chinese-year.jpg);
    background-size: cover;
    
}
.loader{
    position: relative;
    width:300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* animation: animateColor 7.2s linear infinite; */
}
@keyframes animateColor 
{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.loader span{
    position: absolute;
    transform-origin: 300px;
    transform: translateX(-300px) rotate(calc(var(--i)*30deg));
    filter: drop-shadow(0 0 5px #fbc0ca) drop-shadow(0 0 15px #fbc0ca) 
    drop-shadow(0 0 30px #fbc0ca);
}
.loader span i{
    position: relative;
    color: #fbc0ca;
    animation: rotate-stars 2.4s linear infinite;
    animation-delay: calc(var(--i) * -0.2s);
}
@keyframes rotate-stars {
    0%{
        transform: rotate(0deg) scale(0);
    }
    50%{
        transform: rotate(180deg) scale(3);
    }
    100%{
        transform: rotate(360deg) scale(0);
    }
}
.loader span::before{
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 0.75rem;
    color: #131a1c;
    animation: rotate-particle 2.4s linear infinite;
    animation-delay: calc(var(--i) * -0.2s);
}
@keyframes rotate-particle {
    0%{
       scale: 1;
       opacity: 0;
       rotate: 0deg;
    }
    50%{
        scale: 1;
        opacity: 1;
        rotate: 180deg;
    }
    100%{
        scale: 0;
        opacity: 0;
        rotate: 360deg;
        filter: drop-shadow(-150px 0 #fbc0ca) drop-shadow(150px 0 #fbc0ca)
        drop-shadow(0 150px #fbc0ca) drop-shadow(0 -150px #fbc0ca);
    }
}
.star{
    position: absolute;
    max-width: 100vw;
    top:-50px;
    color: #fff;
    animation: animate 5s linear forwards;
    z-index: -50;
}
.star::before{
    content: '\f005';
    font-family: fontAwesome;
    text-shadow: 0 0 5px #fff, 0 0 20px #fff,
    0 0 50px #fff;
}
@keyframes animate {
    0%{
     transform: translateY(0) rotate(0deg);
     opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}
.book{
    width: 600px;
    height:650px;
    position: relative;
    transition-duration: 1s;
    perspective: 1500;
    margin-left: 200px;
    display: none;
    animation: spin-in 1s linear;
}
@keyframes spin-in {
    0%{
        transform: scale(3);
        /* rotate: 0deg; */
    }
    100%{
        transform: scale(1);
        /* rotate: 360deg; */
    }
    
}
.cover, .back_cover{
    width:100%;
    height:100%;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 5px #fbc0ca;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/fur.jpeg);
    background-size: contain;
    font-family: "Satisfy", cursive;
}
.input_box{
    display: none;
}
.cover{
    position: absolute;
    z-index: 6;
    transform-origin:center left;
    transition: transform 1s;
}
.cover label{
    width: 100%;
    height:100%;
    cursor: pointer;
}
.back_cover{
    position: relative;
    z-index: -1;
}
.page{
    background-color: #f6f6f6 ;
    position: absolute;
    width: 580px;
    height:630px;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg); 
    transition-duration: 1.5s;
}

.front_page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1rem;
    /* transition: transform 1s; */
}
.back_page{
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 99;
}
.next, .prev{
    position: absolute;
    bottom: 1em;
    cursor:pointer;
}
.front_page label{
    width: 100%;
    height:100%;
    cursor: pointer;
}
.back_page label{
    width: 100%;
    height:100%;
    cursor: pointer;
}
.next{
    right: 1em;
}
.prev{
    left: 1em;
}
#page1{
    z-index: 5;
}
#page2{
    z-index: 4;
}
#page3{
    z-index: 3;
}
#page4{
    z-index: 2;
}
#page5{
    z-index: 1;
}
#checkbox_cover:checked ~ .book {
    transform: translateX(200px);
}
#checkbox_cover:checked ~ .book .cover{
    transition: transform 1.5s, z-index 0.5s 0.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}
#checkbox_cover:checked ~ .book .page{
   box-shadow: 0 0 1em rgb(219, 113, 113);
}
#checkbox_page1:checked ~ .book #page1{
    /* transition: transform 5.5s, z-index 1.5s 1.5s; */
    transform: rotateY(-180deg);
    z-index: 4;
}
#checkbox_page2:checked ~ .book #page2{
    transform: rotateY(-180deg);
    z-index: 5;
}
#checkbox_page3:checked ~ .book #page3{
    transform: rotateY(-180deg);
    z-index: 6;
}
#checkbox_page4:checked ~ .book #page4{
    transform: rotateY(-180deg);
    z-index: 7;
}
.cover h1{
    position: absolute;
    text-align: center;
    font-size: 100px;
    background-color: #a32542;
    color: transparent;
    text-shadow: #a3254266 3px 5px 1px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-family: "Satisfy", cursive;
}
.welcome_page{
    font-family: "Satisfy", cursive;
    text-align: center;
    background-repeat: no-repeat;
}
.frame{
    width: 550px;
    height: 600px;
}
.frame1{
    width: 550px;
    height: 600px;
    margin-top: 15px;
    margin-left: 10px;
}
.welcome_page h1{
    position: absolute;
    top: 0;
    left:27%;
    max-width: 50%;
    padding-top: 10vh;
    font-weight: 900;
    font-size: 70px;
    color: #a32542;

}
a{
    color: #a32542;
}
.photo-img{
    width: 200px;
    height: 200px; 
    position: absolute;
    top: 30%;
    left: 35%;
    scale: 2;
    background-color: #fbd3dc;            
    border: 5px dashed #ffffff;     
}
.sticker{
    width:200px; 
    height: 200px; 
    position: absolute; 
    top:57%; 
    left: 70%;
}
.button{
    background-color: #fbd3dc; 
    border: 4px solid #a32542;
    color: #a32542; 
    height: 50px;
    width: 100px;
    border-radius: 10%;
    padding: 5px;
    cursor:pointer;
    z-index: 5;
    margin-top: -10%;

}
.button:hover {
    background-color: #a32542;
    color: #ffffff; 
}
.button:active{
    box-shadow: 0 5px #521a27;
    transform: translateY(4px);
}
.photo-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 10px, 20px; */
    position: absolute;
    top:90%;
    left: 15%;
    width:60%;
}
.about_me h1{
    background-image: linear-gradient(90deg, #fbd3dc,#fbd3dc, #dca1fd);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em/2);
    -webkit-background-clip: text;
    color: #a32542;
    font-size: 42px;
    font-weight: 700;
    /* padding: calc(calc(1em/16)/4); */
    letter-spacing: calc(1em/8);
    text-align: center;
    margin-top: 2%;
    font-family: "Satisfy", cursive;
}
.about_me h2{
    background-image: linear-gradient(90deg, #fbd3dc,#fbd3dc, #dca1fd);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em/2);
    -webkit-background-clip: text;
    color: #a32542;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: calc(1em/8);
    text-align: center;
    margin-top: -8%;
    margin-left:25%;
    font-family: "Satisfy", cursive;
}
.profile{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-width: 90%; */
    margin:5px 15px;
    gap:20px;
}
.tape{
    width:80px;
    height: 30px;
    position: relative;
    transform: rotateZ(45deg);
    top: -80%;
    left: 45%
}
.tape2{
    width:80px;
    height: 30px;
    position: relative;
    transform: rotateZ(45deg);
    top: -20%;
    left: -55%
}
.profile_text{
    border: 5px dashed #a32542;
    max-height: 20vh;
    width: 90%;
    padding: 10px;
    /* min-width: 264px; */
    line-height: .7em;
}
.profile_text span{
   background: linear-gradient(90deg, #a32542 70%, transparent 0)0 1em/4px 2px repeat-x;
}
.wavy_line{
    width: 500px;
    height:70px;
    position: relative;
    top:28%;
    left:-3%;
    overflow:hidden;
    margin: 0 auto 0 auto;
}
.wavy_line:before{
    content: attr(data-text);
    position: relative;
    top: -30px;
    color: rgba(0, 0, 0, 0);
    width: calc(100% + 27px);
    font-size: 4em;
    text-decoration-style: wavy;
    text-decoration-color: #25173a;
    text-decoration-line: underline;
    /* animation: wavy .9s linear infinite;
    -webkit-animation:  wavy .9s linear infinite; */
}
@keyframes wavy {
    0%{left:-0px;}
    100%{left: -30px}
}
@-webkit-keyframes wavy {
    0%{left:-0px;}
    100%{left: -30px}
}
.wavy_line_pink:before{
    text-decoration-color: #a32542;
}
.about_text{
    position: relative;
    top:25%;
    width: 85%;
    margin: 40px 15px;
    border: 5px dashed #a32542;
    max-height: 25vh;
    padding:10px;
}
.skill_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80%;
    margin:5px 40px;
    gap:50px;
}
.skills_heading h1{
    background-image: linear-gradient(90deg, #fbd3dc,#fbd3dc, #dca1fd);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1em/2);
    -webkit-background-clip: text;
    color: #a32542;
    font-size: 42px;
    font-weight: 700;
    /* padding: calc(calc(1em/16)/4); */
    letter-spacing: calc(1em/8);
    text-align: center;
}

.skills{
    position: relative;
    width: 85%; 
    height: 60vh;
    max-height:60vh;
    display: flexbox;
    align-items:center;
    justify-content:center;
    margin-top: -10%;
}
.skills h2{
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #a32542;
    font-size: 16px;
    /* margin-left: 40px; */
}
.skills_bar{
    background:#75858f;
    width: 500px;
    height: 10px;
    border-radius: 5px;
    /* margin: 40px 40px; */
}
.skills_bar div{
    height: 10px;
    border-radius: 5px;
    /* width: 50%; */
    background-color: #a32542;
}
.skills_bar div span{
    height: 300%;
    width: 40px;
    border-radius: 50%;
    background: white;
    float: right;
    margin-top: -10px;
    margin-right: -20px;
    color: #313436;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.html{
    width: 90%;
}
.css{
    width: 85%;
}
.javascript{
    width: 75%;
}
.react{
    width: 60%;
}
.figma{
    width:45% ;
}
.html span{
    border: 1px solid #a32542;
}
.css span{
    border: 1px solid #a32542;
}
.javascript span{
    border: 1px solid #a32542;
}
.react span{
    border: 1px solid #a32542;
}
.figma span{
    border: 1px solid #a32542;
}
.project_name{
    color: #a32542;
    margin-top: -20%;
}
.project_name h2{
   margin: auto;
   text-align: center;
}
.project_name p{
    max-width: 80%;
    margin: auto;
}
.project_name a{
    margin-left: 10%;
    
}
.project_name span{
    margin-left: 40%;
    display: inline-block;
    width:20%;
}
.project_img{
    width:95%; 
    height: 70%; 
    position: relative;
     margin-top: 12px; 
     left: 2%; 
     z-index: 0;
}
.bproject_img{
    width:95%; 
    height: 70%; 
    position: relative;
     margin-top: 12px; 
     left: 3%; 
     z-index: 0;
}
.ptape{
    width:100px;
    height: 30px;
    position: relative;
    transform: rotateZ(45deg);
    top: -70%;
    left: 85%;
}
.ptape2{
    width:100px;
    height: 30px;
    position: relative;
    transform: rotateZ(135deg);
    top: -70%;
    left: -25%
}
.bptape2{
    width:100px;
    height: 30px;
    position: relative;
    transform: rotateZ(135deg);
    top: -70%;
    left: -22%
}

.contact-form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

}
.contact-form label {
    font-weight: 400;
    font-size: large;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 8px;
    color: #a32542;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #a32542;
    border-radius: 4px;
    font-size: 16px;
}
.contact-form textarea {
    resize: vertical;
}

/* Submit button styling */
.contact-form button {
    margin-left: 40%;
    background-color: #fbd3dc;
    border: 4px solid #a32542;
    color: #a32542; 
    font-size: 16px;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #a32542;
    border: 4px solid #a32542;
    color: #ffffff; 
}